

/* テーブルの書式 */


/* ユーザー一覧画面のCSS */
.users .table-bordered{
    text-align:center;
    margin-top:10px;

}

.users .name{
    margin-bottom: 50px;
    text-align:center;
}

html {
    scroll-behavior: smooth;
}
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
}

/* エディター画面のCSS */
.edit .name{ 
    margin-bottom: 20px;
    color: aqua;

}
.form-check-label{
    margin:20px auto;

}
.rounded{
    border-radius:1rem;
}