

.nav-link{
  text-decoration: none;
    transition: text-shadow .5s;
}

.nav-link:hover{
  text-shadow: 0 4px 4px;
}

.item{
 font-size: 20px;
 color: black;
}

.top-image{
  position: absolute;
  left: 0;
  width: 100%;
  height: 72%;
  object-fit: cover;
}


.companyinfo{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  background-color: #f1f6f6;
  font-size: 50PX;
  text-align: center;
  color: #7b6459;
}

@keyframes open-keyanime2{ 
  0% { 
    margin-left:150px;
    opacity:0; 
  } 
  100% {
    margin-left:0px;
    opacity:1; 
  }
}

.companyinfo{
  animation-name: open-keyanime2 ; 
  animation-duration: 5s; 
  animation-fill-mode: both; 
}