
.companyinfo{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    background-color: #ccffff;
    font-size: 50PX;
    text-align: center;
    color: #7b6459;
    
}

h1{
    color: #7b6459;
    padding: 0.25em 0.5em;/*上下 左右の余白*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #a8eaf8;/*左線*/
  font-size: 30px;
}

.type{
    font-size: 25px;
    margin-right: 5%;
}

.animalimg{
    position: relative;
    width: 70%;
    display: flex;
}

.animalimg img{
    width: 60%;
}

img{
    border-radius: 10%;
    animation: fluffy1 2s ease infinite; 
}
@keyframes fluffy1 {
  0% {
    transform: translateY(0); }
  5% {
    transform: translateY(0); }
  10% {
    transform: translateY(0); }
  20% {
    transform: translateY(-10px); }
  25% {
    transform: translateY(0); }
  30% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }


.flex{
    display: flex;
}